* {
  box-sizing: border-box;
  background-color: #080c24;
}

.game-101 {
  color: #c4c6cf;
  text-align: center;
}

.game-101 img {
  width: 100%;
  height: 100%;
}

.game-101 h1 {
  font-size: 4rem;
}

.login {
  width: 70%;
  height: 20rem;
  /* background: #151e34; */
  background: pink;
  border-radius: 50px;
}

.login h1 {
  color: beige;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
